{% extends 'base.html' %}

{% block content %}
    <!-- content -->
    <div class="content_board">
        <div class="container">
            <div class="form_box">
                <form method="POST">
                    {% csrf_token %}
                    <h3>게시글 작성하기</h3>
                    <input class="input_field" type="text" value="{{ user.username }}" name="author" readonly><br>
                    <input class="input_field" type="password" placeholder="글 비밀번호" name="password" required><br>
                    <input class="input_field" type="text" placeholder="제목을 입력해주세요." name="title" required><br>
                    <textarea class="textarea_field" placeholder="내용을 입력해주세요." name="content" required></textarea><br>
                    <div class="page">
                        <button class="write_button">작성하기</button>
                        <a href="/notice" class="write_button right">뒤로가기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //content -->
{% endblock %}
