{%  extends 'base.html' %}

{% block content %}
    <!-- content -->
    <div class="content_account">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2" class="table_title">SIGN UP</td>
                </tr>
                <tr>
                    <td>USERNAME</td>
                    <td><input type="id" name="username" required></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td>CONFIRM<br>PASSWORD</td>
                    <td><input type="password" name="password2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">SIGN UP</button>&nbsp;&nbsp;
                        <button type="button" onclick="history.back()">CANCEL</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- //content -->
{% endblock %}